{template nheader.html}
<script>
    
</script>

<div class="page-bar">
	<!--<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown" onclick="javascript:window.location.href='{dr_url(''.APP_DIR.'/huodong/add')}'"> {fc_lang('添加')}-->
	<!--			<i class="fa fa-plus"></i>-->
	<!--		</button>-->
	<ul class="page-breadcrumb myname">
		{$menu.name}
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {fc_lang('操作菜单')}
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				{loop $menu.quick $t}
				<li>
					<a href="{$t.url}">{$t.icon} {$t.name}</a>
				</li>
				{/loop}
				<li class="divider"> </li>
				<li>
					<a href="javascript:window.location.reload();">
						<i class="icon-refresh"></i> {fc_lang('刷新页面')}</a>
				</li>
				<!--<li>-->
				<!--	<a href="{dr_url(''.APP_DIR.'/huodong/fanjuan_add')}">-->
				<!--		<i class="icon-refresh"></i> {fc_lang('增加')}</a>-->
				<!--</li>-->
			</ul>
		</div>
	</div>
</div>
<h3 class="page-title">
	<small>{fc_lang('活动打包策略')}</small>
</h3>
<div class="portlet mylistbody">
	<div class="portlet-body">
		<div class="table-scrollable">

			<table class="mytable table table-striped table-bordered table-hover table-checkable dataTable">

			<thead>
			<tr>
				<th width="60" align="center">{fc_lang('选择')}</th>
				<th width="100" align="left" style="text-align:center">{fc_lang('打包策略编号')}</th>
				<th width="400" align="left" style="text-align:center">{fc_lang('返劵规则名称')}</th>
				<th width="250" align="left" style="text-align:center">{fc_lang('返劵减免金额')}</th>
				<th width="350" align="left" style="text-align:center">{fc_lang('修改时间')}</th>
				<th width="350" align="left" style="text-align:center">{fc_lang('状态')}</th>
				<th align="left" class="dr_option" style="text-align:center">{fc_lang('操作')}</th>
			</tr>
			</thead>
			<tbody>
			{loop $list $t}
					<tr>
						<td align="right"><input name="ids[]" type="checkbox" class="dr_select toggle md-check" value="{$t.id}" /></td>
						<!--<td align='left'><input class='input-text displayorder' type='text' name='data[{$t.id}][displayorder]' value='{intval($t.displayorder)}' /></td>-->
						<td align="center">{$t.id}</td>
						<td align="center">{$t.name}</td>
						<td align="center">{$t.jianmian}</td>
						<td align="center">{dr_date($t.time)}</td>
						<td align="center">{$t.status}</td>
						<td align="left" class="dr_option">
		
							<label><a href="{dr_url(''.APP_DIR.'/huodong/fanjuan_edit',array('name'=>$t.name,'id'=>$t.id,'jianmian'=>$t.jianmian))}" class="btn btn-xs green onloading">
								<i class="fa fa-edit"></i> {fc_lang('修改')} </a></label>
							
							{if $t.status == 0}	
    							<label><a href="{dr_url(''.APP_DIR.'/huodong/fanjuan_status',array('id'=>$t.id,'status'=>$t.status))}" class="btn btn-xs green onloading">
    							<i class="fa fa-edit"></i> 启用 </a></label>
					        {else}
    					        <label><a href="{dr_url(''.APP_DIR.'/huodong/fanjuan_status',array('id'=>$t.id,'status'=>$t.status))}" class="btn btn-xs green onloading">
    							<i class="fa fa-edit"></i> 禁用 </a></label>
    						{/if}
						</td>
					</tr>
			{/loop}
			</tbody>
			</table>
		</div>
	</div>
</div>
<script>
    $(function(){
        if()
        $("#status").text();
    })

    function del(){
      var id_array=new Array();  
      $('.dr_select.toggle.md-check:checked').each(function(){  
          id_array.push($(this).val());//向数组中添加元素
      })
      $.ajax({
         url:"/admin.php/?s=mall&c=huodong&m=fanjuan_del",
         type : "POST",
         data:{
             'data' : id_array,
         },
        success : function(data) {
            alert('删除成功');
            window.location.reload();
        },
        error : function() {
            alert("删除失败"); 
        }
      })
    }
</script>

{template nfooter.html}