{template nheader.html}
<div tabindex="-1" style="position: absolute; outline: 0px; left: 450px; top: 200px; z-index: 2147483647;" aria-labelledby="title:1532061544839" aria-describedby="content:1532061544839" class="ui-popup ui-popup-show ui-popup-focus" role="dialog">
    <div i="dialog" class="ui-dialog">
        <form style="width:450px;" class="form-horizontal" action="{SITE_URL}admin.php?s=mall&c=huodong&m=fanjuan_add" method="post" id="myform">
        <table class="ui-dialog-grid" style="width:100%">
            <tbody>
                <tr>
                    <td i="header" class="ui-dialog-header">
                        <button i="close" type="button" class="ui-dialog-close" title="取消" onclick="history.go(-1)">×</button>
                        <div i="title" class="ui-dialog-title">增加打包策略</div>
                    </td>
                </tr>
                <tr>
                    <td i="body" class="ui-dialog-body">
                        <div i="content" class="ui-dialog-content" style="width:100%">
                            <div class="form-body">
                                <div class="form-group dr_one">
                                    <label class="col-md-3 control-label">策略名称：</label>
                                    <div class="col-md-7">
                                            <input style="width:200px" name="name">
                                    </div>
                                </div>
                                <div class="form-group dr_one">
                                    <label class="col-md-3 control-label">返劵减免金额：</label>
                                    <div class="col-md-7">
                                        <input style="width:200px" type="number" name="name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                 <!--<input style="width:200px;visibility:hidden" name="mall_id" id="mall_id">-->
                <tr>
                    <td i="footer" class="ui-dialog-footer">
                        <div i="statusbar" class="ui-dialog-statusbar" style="display: none;"></div>
                        <div i="button" class="ui-dialog-button">
                            <button type="submit" id="ok" autofocus="" class="ui-dialog-autofocus">生成</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
{template nfooter.html}