{template order_header.html}
<script type="text/javascript">
	$(function() {
		$(".table-list tr").last().removeClass("dr_border_none");
	});
</script>
<div class="page-bar">
	<ul class="page-breadcrumb mylink">
		{$menu.link}
	</ul>
	<ul class="page-breadcrumb myname">
		{$menu.name}
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-hover="dropdown"> {fc_lang('操作菜单')}
				<i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				{loop $menu.quick $t}
				<li>
					<a href="{$t.url}">{$t.icon} {$t.name}</a>
				</li>
				{/loop}
				<li class="divider"> </li>
				<li>
					<a href="javascript:window.location.reload();">
						<i class="icon-refresh"></i> {fc_lang('刷新页面')}</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="mytopsearch">
	<form method="post" class="row" action="" name="searchform" id="searchform">
		<input name="search" id="search" type="hidden" value="1" />
		<div class="col-md-12">
			<label>{fc_lang('模块')}</label>
			<label style="padding-right: 5px;"><i class="fa"></i></label>
			<label style="padding-right: 10px;">
				<select name="data[mid]" class="form-control">
					<option value="">{fc_lang('不限')}</option>
					{loop $module $t}
					<option value="{$t.dirname}" {if $param.mid==$t.dirname}selected{/if}>{$t.name}</option>
					{/loop}
				</select>
			</label>
			<label>
				<select name="data[field]" class="form-control">
					{loop $field $t}
					<option value="{$t.fieldname}" {if $param.field==$t.fieldname}selected{/if}>{$t.name}</option>
					{/loop}
				</select>
			</label>
			<label><i class="fa fa-caret-right"></i></label>
			<label style="padding-right: 20px;"><input type="text" class="form-control" placeholder="{fc_lang('多个Id可以用“,”分隔')}" value="{$param['keyword']}" name="data[keyword]" /></label>
			<label>{fc_lang('下单时间')} ：</label>
			<label>{dr_field_input('start', 'Date', array('option'=>array('format'=>'Y-m-d','width'=>'100')), (int)$param.start)}</label>
			<label><i class="fa fa-minus"></i></label>
			<label style="margin-right:10px">{dr_field_input('end', 'Date', array('option'=>array('format'=>'Y-m-d','width'=>'100')), (int)$param.end)}</label>
			<label><button type="submit" class="btn green btn-sm" name="submit" > <i class="fa fa-search"></i> {fc_lang('搜索')}</button></label>
		</div>
	</form>
</div>
<style>
    .pages li{
        display:  inline-block;
    }
</style>
<div class="portlet light bordered">
	<div class="portlet-body">
		<div class="table-scrollable v3table">
			<form action="" method="post" name="myform" id="myform">
				<input name="action" id="action" type="hidden" value="" />
				<table class="table dr_table">
					<thead>
					<tr>
						<th></th>
						<th class="{ns_sorting('id')}" name="id" width="160">{fc_lang('订单号')}</th>
						<th class="{ns_sorting('buy_uid')}" name="buy_uid" width="90">{fc_lang('客户名称')}</th>
						<th class="{ns_sorting('sell_uid')}" name="sell_uid" width="90">{fc_lang('课程编号')}</th>
						<th class="{ns_sorting('order_price')}" name="order_price">{fc_lang('价格')}</th>
						<th class="{ns_sorting('order_time')}" name="order_time" width="150">{fc_lang('下单时间')}</th>
						<th class="{ns_sorting('status')}" name="status">{fc_lang('状态')}</th>
						<th class="{ns_sorting('chiyouren_name')}" name="chiyouren_name">{fc_lang('姓名')}</th>
						<th class="{ns_sorting('chiyouren_phone')}" name="chiyouren_phone">{fc_lang('电话')}</th>
						<th class="{ns_sorting('goumaishuliang')}" name="goumaishuliang">{fc_lang('购买数量')}</th>
						<th class="{ns_sorting('shengyushuliang')}" name="shengyushuliang">{fc_lang('剩余数量')}</th>
						<th class="{ns_sorting('beizhu')}" name="beizhu">{fc_lang('备注')}</th>
					</tr>
					</thead>
					<tbody>
					    
					    {list action=sql sql='select * from imt_member_paylog where status = 1' page=1 pagesize=10 urlrule=admin.php?&s=mall&c=dingdan&m=index&page=[page] return=a}
					    <tr>
					        <td><input name="ids[]" type="checkbox" class="dr_select toggle md-check" value="{$a.id}" /></td>
					        <td><a href="{dr_url('order/home/info', array('id'=>$a.id))}">{$a.id}</a></td>
					        
					        <td><a href="javascript:;" onclick="dr_dialog_member('{$a.uid}')">{list action=sql sql='select name from imt_member where uid=$a.uid'}
					          {$t.name}
					   {/list}</a></td>
					    	<td><a href="javascript:;" onclick="dr_dialog_member('{$a.mall_id}')">{dr_strcut($a.mall_id, 10)}</a></td>
					        <td>¥{number_format($a.value, 2)}</td>
					       	<td>{date($a.inputtime)}</td>
					    	<td>{if $a.status == 0}未支付{else}已支付{/if}</td>
					    	<td>{$a.chiyouren_name}</td>
					    	<td>{$a.chiyouren_phone}</td>
					    	<td>{$a.goumaishuliang}</td>
					    	<td>{$a.shengyushuliang}</td>
					    	<td>{$a.beizhu}</td>
					   </tr>
					    {/list}
					
					</tbody>
				</table>
			</form>
			<div id="pages" class="pages" ><a>{fc_lang('共%s条', $total_a)}</a>{$pages_a}</div>
		</div>
	</div>
</div>


{template nfooter.html}